<%- include('../partials/header') %>
<h1><%= title %></h1>

<div class="vehicles">
  <div class="vehicles-header">
    <h2>Available Vehicles</h2>
    <p>Explore our collection of <%= vehicles.length %> vehicles.</p>
    <div class="sort-options">
      <label for="sort-by">Sort by:</label>
      <a
        href="/catalog?category"
        class="<%= currentSort === '' ? 'active' : '' %>"
        >All</a
      >
      <a
        href="/catalog?category=suv"
        class="<%= currentSort === 'suv' ? 'active' : '' %>"
        >SUV</a
      >
      <a
        href="/catalog?category=truck"
        class="<%= currentSort === 'truck' ? 'active' : '' %>"
        >Truck</a
      >
      <a
        href="/catalog?category=sedan"
        class="<%= currentSort === 'sedan' ? 'active' : '' %>"
        >Sedan</a
      >
      <a
        href="/catalog?category=electric"
        class="<%= currentSort === 'electric' ? 'active' : '' %>"
        >Electric</a
      >
    </div>
  </div>

  <div class="vehicle-list">
    <% vehicles.forEach(vehicle => { %>
    <div class="vehicle-card">
      <div>
        <div class="vehicle-header">
          <h2>
            <a href="/catalog/<%= vehicle.slug %>"
              ><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></a
            >
          </h2>
          <span class="category-badge"><%= vehicle.category %></span>
        </div>
        
        <p><%= vehicle.description %></p>
      </div>
      <img
        src="/images/vehicles/<%= vehicle.slug %>.jpg"
        alt="Photo of <%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %>"
        class="vehicle-image"
      />
    </div>
    <%}); %>
  </div>
</div>

<%- include('../partials/footer') %>
