<%- include('../../partials/header') %>
    <div class="dashboard">
        <h1>Welcome <%= user.name %>!</h1>
        


        <% if (sessionData.user.role_name === 'owner' || sessionData.user.role_name === 'employee') { %>
            <h2>Admin Pannel</h2>
            <div class="admin-panel">
                <a href="/admin/contact-responses">Manage Contact Messages</a>
                <% if (sessionData.user.role_name === 'owner') { %>
                    <a href="/admin/users">Manage Users</a>
                    <a href="/admin/vehicles">Manage Catalog</a>
                <% } %>
            </div>
        <% } %>

        <h2>Your Account Information</h2>
        <div class="user-info">
            <div class="user-detail">
                <p class="label">Name</p>
                <p class="value"><%= user.name %></p>
            </div>
             <div class="user-detail">
                <p class="label">Email</p>
                <p class="value"><%= user.email %></p>
            </div>
             <div class="user-detail">
                <p class="label">Created At</p>
                <p class="value"><%= new Date(user.created_at).toLocaleString() %></p>
            </div>
        </div>

        <div class="dashboard-actions">
            <% if (sessionData.user.role_name === 'user') { %>
                <a href="/review">Leave a Review</a>
                <a href="/service-request"> Service Request</a>
                <% } %>
            <a href="/service-requests">View Service Requests</a>
            <a href="/user/<%= sessionData.user.id %>/edit">Edit Profile</a>
            <form action="/user/<%= user.id %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
                <button class="delete-button" type="submit">Delete</button>
            </form>
        </form>
        </div>

        </div>
    </div>
<%- include('../../partials/footer') %>